<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saehimit.convenienco.mapper.PurchaseOrderMapper">

    <!-- 발주 헤더 저장 -->
    <insert id="insertPurchaseOrder" parameterType="com.saehimit.convenienco.dto.PurchaseOrderDto">
        INSERT INTO purchase_order (
            order_id, branch, requester_id, requester_name, status, registered_date, last_modified, modified_by
        )
        VALUES (
                   #{orderId}, #{branch}, #{requesterId}, #{requesterName},
                   #{status}, NOW(), NULL, NULL
               )
    </insert>




    <!-- 발주 정보 조회 -->
    <select id="findPurchaseOrderById" resultType="com.saehimit.convenienco.dto.PurchaseOrderDto">
        SELECT * FROM purchase_order WHERE order_id = #{orderId}
    </select>

    <!-- 전체 발주 목록 조회 -->
    <select id="getAllPurchaseOrders" resultType="PurchaseOrderDto">
        SELECT
            po.order_id AS orderId,
            po.branch AS branch,
            po.requester_id AS requesterId,
            po.requester_name AS requesterName,
            po.status AS codeValue,
            COALESCE(sc.code_name, '미정') AS status,  -- 공통코드명 가져오기 (NULL 방지)
            po.registered_date AS registeredDate,
            po.modified_by AS modifiedBy,
            po.last_modified AS lastModified
        FROM purchase_order po
                 LEFT JOIN systemcode sc
                           ON po.status = sc.code_value
                               AND sc.code_index = '발주상태'  -- 공통코드 매핑
        ORDER BY po.registered_date DESC;
    </select>




    <select id="findByOrderId" resultType="com.saehimit.convenienco.dto.PurchaseOrderDto">
        SELECT * FROM purchase_order WHERE order_id = #{orderId}
    </select>

    <select id="searchPurchaseOrders" parameterType="map" resultType="PurchaseOrderDto">
        SELECT * FROM purchase_order
        WHERE 1=1
        <if test="branch != null and branch != ''">
            AND branch = #{branch}
        </if>
        <if test="orderId != null and orderId != ''">
            AND order_id = #{orderId}
        </if>
        <if test="requesterName != null and requesterName != ''">
            AND requester_name LIKE CONCAT('%', #{requesterName}, '%')
        </if>
    </select>

    <!-- 가장 최근의 발주번호의 숫자 부분 조회 -->
    <select id="getLastOrderNumber" resultType="Integer">
        SELECT COALESCE(MAX(CAST(SUBSTRING_INDEX(order_id, '-', -1) AS UNSIGNED)), 10000) FROM purchase_order
    </select>


    <update id="updatePurchaseOrder">
        UPDATE purchase_order
        SET
            branch = #{branch},
            requester_id = #{requesterId},
            requester_name = #{requesterName},
            status = #{status},
            modified_by = #{modifiedBy},
            modified_date = NOW()
        WHERE order_id = #{orderId}
    </update>


    <!-- 발주 헤더(purchase_order) 수정 (수정일자 & 수정자 업데이트) -->
    <update id="updatePurchaseOrderHeader">
        UPDATE purchase_order
        SET last_modified = NOW(),
            modified_by = #{modifiedBy}
        WHERE order_id = #{orderId}
    </update>



    <!-- 여러 개의 발주 헤더 삭제 -->
    <delete id="deletePurchaseOrder">
        DELETE FROM purchase_order WHERE order_id IN
        <foreach item="orderId" collection="orderIds" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>

    <select id="getStatusCodeByName" parameterType="string" resultType="string">
        SELECT code_value
        FROM systemcode
        WHERE TRIM(code_name) = TRIM(#{codeName})
          AND code_index = '발주상태'
    </select>


    <update id="updateStatus">
        UPDATE purchase_order
        SET status = #{status}
        WHERE order_id IN
        <foreach collection="orderIds" item="orderId" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </update>


    <select id="getStatusNameByCodeValue" parameterType="string" resultType="string">
        SELECT code_name
        FROM systemcode
        WHERE TRIM(code_value) = TRIM(#{codeValue})
          AND code_index = '발주상태'
    </select>





</mapper>
