<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saehimit.convenienco.mapper.PurchaseOrderItemMapper">

    <!-- 발주 상세 저장 -->
    <insert id="insertPurchaseOrderItem">
        INSERT INTO purchase_order_item (order_id, branch, product_code, product_name, price, unit, min_order, max_order, order_quantity, expected_date)
        VALUES (#{orderId}, #{branch}, #{productCode}, #{productName}, #{price}, #{unit}, #{minOrder}, #{maxOrder}, #{orderQuantity}, #{expectedDate})
    </insert>
    <!-- 특정 발주의 상세 목록 조회 -->
    <select id="findPurchaseOrderItemsByOrderId" resultType="com.saehimit.convenienco.dto.PurchaseOrderItemDto">
        SELECT * FROM purchase_order_item WHERE order_id = #{orderId}
    </select>

    <!-- 특정 품목 업데이트 -->
    <update id="updatePurchaseOrderItem">
        UPDATE purchase_order_item
        SET order_quantity = #{orderQuantity}, expected_date = #{expectedDate}
        WHERE item_id = #{itemId}
    </update>

    <!-- 특정 발주의 상세 삭제 -->
    <delete id="deletePurchaseOrderItems">
        DELETE FROM purchase_order_item WHERE order_id = #{orderId}
    </delete>

</mapper>
