<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saehimit.convenienco.mapper.UserMapper">

    <!-- 관리자 계정 생성 -->
    <insert id="createAdmin">
        INSERT INTO users (login_id, password, role)
        VALUES (#{loginId}, #{password}, #{role})
    </insert>

    <select id="findByLoginId" parameterType="string" resultType="com.saehimit.convenienco.dto.UsersDto">
        SELECT * FROM users WHERE login_id = #{loginId}
    </select>
        <!-- 관리자 계정  -->
        <insert id="saveUser" parameterType="com.saehimit.convenienco.dto.UsersDto">
            INSERT INTO users (login_id, password, email, phone_number, role)
            VALUES (#{loginId}, #{password}, #{email}, #{phoneNumber}, #{role})
        </insert>

        <!-- 사용자 등록 -->

        <insert id="insertUser" parameterType="com.saehimit.convenienco.dto.UsersDto">
            INSERT INTO users (user_id, username, password, email, phone_number, branch, role, join_date)
            VALUES (#{userId}, #{username}, #{password}, #{email}, #{phoneNumber}, #{branch}, #{role}, #{joinDate});
        </insert>

    <!-- 아이디 중복 확인 -->
    <select id="findUserByLoginId" resultType="com.saehimit.convenienco.dto.UsersDto">
        SELECT * FROM users WHERE login_id = #{loginId}
    </select>

    <!-- 이메일 중복 확인 -->
    <select id="findUserByEmail" resultType="com.saehimit.convenienco.dto.UsersDto">
        SELECT * FROM users WHERE email = #{email}
    </select>

    <!-- 핸드폰 번호 중복 확인 -->
    <select id="findUserByPhoneNumber" resultType="com.saehimit.convenienco.dto.UsersDto">
        SELECT * FROM users WHERE phone_number = #{phoneNumber}
    </select>

    <select id="searchUsers" resultType="com.saehimit.convenienco.dto.UsersDto">
        SELECT * FROM users
        WHERE login_id LIKE CONCAT('%', #{loginId}, '%')
          AND username LIKE CONCAT('%', #{username}, '%')
          AND (branch = #{branch} OR #{branch} IS NULL OR #{branch} = '')
    </select>

</mapper>
